<!-- <app-counter></app-counter>
<hr />
<app-directive-playground></app-directive-playground>
<hr />
<app-couner-with-input (inputValue)="handleInputValue($event)"></app-couner-with-input>
<hr>-->
<!-- <app-user-list [userList]="users"></app-user-list>  -->
<!-- <app-todo-list [todoList]="todolist"></app-todo-list> -->
<!-- <app-heroes></app-heroes> -->
<!-- <app-add-post></app-add-post>
<app-post-list></app-post-list> -->
<!-- <app-form></app-form> -->

<nav>
  <ul>
    <li><a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
    <li><a routerLink="/posts" routerLinkActive="active" ariaCurrentWhenActive="page">posts</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>